#root {
  display: flex;
}

.editor {
  min-height: 400px;
  padding: 16px;
  border: 1px solid #ccc;
  background: #e30000;
  color: #c70707;
  outline: none;
}

.editor p {
  margin: 0 0 8px 0;
}


